<script src="~/Scripts/home/VideosController.js"></script>
<body ng-controller="VideosController">
    <!-- Home -->
    <a class="scroll" id="home"></a>


    <div class="mainsection">
        <div class="holdall">
            <div class="holdleft">

                <section class="content">

                    <div class="header">
                        <div class="title">Latest Video</div>
                    </div>

                    <div class="section full">
                        <div class="images">
                            <img ng-src="{{latestVideo.ThumbnailUrl}}" style="margin:auto; cursor: pointer" ng-click="open(latestVideo)" />
                            <script type="text/ng-template" id="myModalContent.html">
                                <div class="modal-header">
                                    <button class="close" type="button" ng-click="cancel()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" ng-src="{{video.VideoUrl | trustAsResourceUrl}}" allowfullscreen="allowfullscreen"
                                                mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                                                webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>

                    <div class="description">
                        <div class="videoTitle">{{latestVideo.Name}}</div>
                        <div class="videoDescription">{{latestVideo.Description}}</div>
                    </div>
                </section>

            </div>

            <div class="holdright">
                <div class="header news">News</div>
                <h1>LOOKEE NEWS</h1>
                <p>This news would be cool</p>
            </div>

        </div>

        <section class="videos">

            <ul>
                <li class="featuredItem" ng-repeat="video in videos">
                    <img ng-src="{{video.ThumbnailUrl}}" style="margin:auto; cursor: pointer" ng-click="open(latestVideo)" />
                    <h2>{{video.Name}}</h2>
                    <p>{{video.Description}}</p>
                </li>
            </ul>

        </section>

        <div class="misc">

            <div class="blogs">
                <div class="header">
                    <div class="title">Blargs</div>
                </div>
                <ul>
                    <li ng-repeat="blog in blogs">
                        <h2>{{blog.Name}}</h2>
                        <p>{{blog.Description}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="~/Scripts/home/VideosController.js"></script>
</body>

@*<ul>
        <li ng-repeat="blog in blogs">
            <h2>{{blog.Name}}</h2>
            <p>{{blog.Description}}</p>
        </li>
    </ul>*@

@*<uib-carousel interval="Interval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="video in latestVideos" active="video.active" ng-click="open(video)">
            <img ng-src="{{video.ThumbnailUrl}}" style="margin:auto; cursor: pointer">
            <div class="carousel-caption" style="cursor: pointer">
                <h4>{{video.Name}}</h4>
                <h5>{{video.Description}}</h5>
            </div>

            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <button class="close" type="button" ng-click="cancel()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{video.VideoUrl | trustAsResourceUrl}}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
                    </div>
                </div>
            </script>
        </uib-slide>
    </uib-carousel>*@