<script src="~/Scripts/home/VideosController.js"></script>
<body ng-controller="VideosController">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700|Fjalla+One' rel='stylesheet' type='text/css'>
    <!-- Home -->
    <a class="scroll" id="home"></a>
    <div class="home hero">
        <div class="herowrapper">
            <h1 style="font-family: 'Fjalla One', sans-serif; font-size:175px;">Un Piece</h1>
        </div>
    </div>

    <div class="content">
        <div class="section full">
            <h2 style="font-family: 'Oswald', sans-serif;">Latest Videos</h2>
            <div style="height: 360px; width: 480px">
                <uib-carousel interval="Interval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="video in latestVideos" active="video.active" ng-click="open(video)">
                        <img ng-src="{{video.ThumbnailUrl}}" style="margin:auto; cursor: pointer">
                        <div class="carousel-caption" style="cursor: pointer">
                            <h4>{{video.Name}}</h4>
                            <h5>{{video.Description}}</h5>
                        </div>

                        <script type="text/ng-template" id="myModalContent.html">
                            <div class="modal-header">
                                <button class="close" type="button" ng-click="cancel()">&times;</button>

                            </div>
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" ng-src="{{video.VideoUrl | trustAsResourceUrl}}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                </div>
                            </div>
                        </script>

                    </uib-slide>
                </uib-carousel>
            </div>
        </div>

        <div class="clear"></div>
        <div class="section full">
            <h2 style="font-family: 'Oswald', sans-serif">Latest Posts</h2>
            <div style="height: 360px; width: 480px">
                <uib-carousel interval="Interval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="blog in blogs" active="blog.active">
                        <img ng-src="~/Content/images/home/One-Piece-logosmall.jpg" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{blog.Name}}</h4>
                            <h5>{{blog.Description}}</h5>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
            <div class="clear"></div>

            <script src="~/Scripts/home/VideosController.js"></script>

        </div>
    </div>

</body>

