<body>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700|Fjalla+One' rel='stylesheet' type='text/css'>
    <!-- Home -->
    <a class="scroll" id="home"></a>
    <div class="home hero">
        <div class="herowrapper">
            <h1 style="font-family: 'Fjalla One', sans-serif; font-size:175px;">Un Piece</h1>
        </div>
    </div>

    <div class="content" ng-controller="VideosController">
        <!-- Homepage -->
        <div class="section full" id="latestVidoes">
            <h2 style="font-family: 'Oswald', sans-serif;">Latest Videos</h2>
            <div style="height: 305px">
                <uib-carousel interval="Interval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="video in latestVideos" active="video.active">
                        <img ng-src="~/Content/images/home/placeholder_large1.jpg" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{video.Name}}</h4>
                            <p>{{video.Description}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>

        <div class="clear"></div>
        <div class="section full" id="latestVidoes">
            <h2 style="font-family: 'Oswald', sans-serif">Latest Posts</h2>
            <div style="height: 305px">
                <uib-carousel interval="Interval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="blog in blogs" active="blog.active">
                        <img ng-src="~/Content/images/home/placeholder_large1.jpg" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{blog.Name}}</h4>
                            <p>{{blog.Description}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
            <div class="clear"></div>
        </div>
</body>

<script src="~/Scripts/home/VideoController.js"></script>
