<body ng-app="unPiece">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700|Fjalla+One' rel='stylesheet' type='text/css'>
    <!-- Home -->
    <a class="scroll" id="home"></a>
    <div class="home hero">
        <div class="herowrapper" >
            <h1 style= "font-family: 'Fjalla One', sans-serif; font-size:175px;">Un Piece</h1>
        </div>
    </div>

    <div class="content">
        <!-- Homepage -->
        <div class="section full" id="latestVidoes">
            <h2 style="font-family: 'Oswald', sans-serif;">Latest Videos</h2>
            <ul class="carousel" id="carousellatest">
                <li>
                    @*@TODO:Make generation of this programmatic*@
                    <div class="section block">
                        <img src="~/Content/images/home/placeholder_large1.jpg">
                        <div class="content">
                            <h5>Video Name</h5>
                        </div>

                        <div class="hover">
                            <a href="#" class="hover content">
                                <h2>+</h2>
                                <h5>Video Name</h5>
                                <h6>Small description</h6>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="clear"></div>

        <div class="section full" id="latestVidoes">
            <h2>Latest Blog Posts</h2>
            <ul class="carousel" id="carousellatest">
                <li>
                    @*@TODO:Make generation of this programmatic*@

                    <div class="section block">
                        <img src="~/Content/images/home/One-Piece-logosmall.jpg">
                        <div class="content">
                            <h5>Video Name</h5>
                        </div>

                        <div class="hover">
                            <a href="#" class="hover content">
                                <h2>+</h2>
                                <h5>Video Name</h5>
                                <h6>Small description</h6>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</body>
